/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #eee;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-family: Proxima Nova, sans-serif;
	font-size: 24px;
	color: #333;
}

.header {
	height: 70px;
	width: 100%;
	background: #333;
}

.main-nav {
	height: 70px;
	width: 300px;
	float: left;
}

.main-nav li{
	padding-top: 29px;
	float: left;
	width: 100px;
	height: 41px;
	font-family: Proxima Nova, sans-serif;
	font-size: 14px;
	color: #999;
	font-weight: 100;
	cursor: pointer;
	margin: 0px 0px 0px 0px;
	text-align: center;
	transition: color .15s ease-in;
}

.main-nav li:hover {
	color: #fff;
}

.main-nav a {
	display: block;
	height: 20px;
	width: 60px;
	margin: auto;
	border-bottom: 2px solid #333;
	color: #999;
	text-decoration: none;
	transition: border-bottom .15s ease-in, color .15s ease-in;
}

.main-nav li:hover a {
	border-bottom: 2px solid #59cb59;
	color: #fff;
}

.active-link {
	color: #fff;
}

.active-link a {
	color: #fff;
	border-bottom: 2px solid #59cb59;
}

.logo {
	height: 52px;
	width: 30px;
	float: left;
	margin: 18px 60px 0px 30px;
	cursor: pointer;
}

.secondary-nav {
	height: 70px;
	width: 400px;
	float: right;
}

.secondary-nav li {
	padding-top: 29px;
	float: right;
	width: 95px;
	height: 43px;
	font-family: Proxima Nova, sans-serif;
	font-size: 12px;
	color: #989898;
	font-weight: 100;
	cursor: pointer;
	text-align: center;
	transition: .2s;
}

.secondary-nav li:hover {
	color: #fff;
}

.fa-angle-down {
	margin-left: 5px;
}

.compose {
	padding-top: 26px;
	font-size: 20px;
	float: right;
	height: 44px;
	width: 45px;
	color: #989898;
	cursor: pointer;
	transition: .2s;
	text-align: center;
	margin-right: 20px;
}

.compose:hover {
	color: #fff;
}

.search {
	padding-top: 25px;
	font-size: 20px;
	float: right;
	height: 45px;
	width:45px;
	color: #989898;
	cursor: pointer;
	transition: .2s;
	text-align: center;
}

.search:hover {
	color: #fff;
}

.tertiary-nav {
	height: 40px;
	background: #333;
	position: fixed;
	bottom: 0px;
	right: 0px;
	font-family: Proxima Nova, sans-serif;
	font-size: 13px;
	color: #989898;
	border-radius: 4px 0px 0px 0px; 
}

.groups-picker {
  margin: 0px 0px 0px 0px;
  float:right;
  color: #989898;
  font-size: 13px;
  cursor: pointer;
  height: 26px;
  padding: 14px 20px 0px 20px;
  transition: .2s;
}

.groups-picker:hover {
	color: #fff;
}

.settings {
  margin: 0px 0px 0px 0px;
  float:right;
  color: #989898;
  cursor: pointer;
  font-size: 18px;
  border-left: 1px solid #1a1a1a;
  height: 28px;
  padding: 12px 20px 0px 20px;
  transition: .2s;
}

.settings:hover {
	color: #fff;
}

.fa-cog {

}

.fa-folder {
	margin-right: 8px;
	font-size: 18px;
	color: #989898;
	transition: .2s;
}

.groups-picker:hover .fa-folder {
	color: #17b8ce;
}

.fa-angle-up.down-groups {
	margin-left: 20px;
}

.film {
	display: none;
	opacity: 0.9;
  	background-color: #eee;
  	height: 100%;
  	position: absolute;
  	top: 70px; left: 0; bottom: 0; right: 0;
}

.modal-container {
	display: none;
	position: absolute;
	height: 100%;
	top: 70px; left: 0; bottom: 0; right: 0;
	opacity: 1;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  color: #b3b3b3;
  cursor: pointer;
  font-family: Proxima Nova, sans-serif;
  text-transform: uppercase;
}

.modal-content {
	width:960px;
	margin: 60px auto 0px auto;
}

.esc-text {
	font-size: 12px;
	height: 18px;
	float: left;
	margin: 12px 10px 0px 0px;
	letter-spacing: .1em;
}

table {
	margin-top: 40px;
	width: 960px;
	background: #fff;
	font-family: Proxima Nova, sans-serif;
	color: #999;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .1em;
}

tr {
	height: 180px; 
}

td {
	width: 180px;
	border: 1px solid #ddd;
	text-align: center;
	padding: 45px 20px 0px 20px;
	cursor: pointer;
	transition: .2s;
}

td:hover {
	box-shadow: 0px 0px 7px #ddd;
}

.fa-user {
	margin: 0px 30px 50px 30px;
	transition: .15s ease-in;
}

.fa-briefcase {
	margin: 0px 30px 50px 30px;
	transition: .15s ease-in;
}

.fa-cc-visa {
	margin: 0px 30px 50px 30px;
	transition: .15s ease-in;
}

.fa-comments {
	margin: 0px 30px 50px 30px;
	transition: .15s ease-in;
}

.fa-users {
	margin: 0px 30px 50px 30px;
	transition: .15s ease-in;
}

.fa-tags {
	margin: 0px 30px 50px 30px;
	transition: .15s ease-in;
}

.fa-trophy {
	margin: 0px 30px 50px 30px;
	transition: .15s ease-in;
}

/* ICON ==== HOVERS */

td:hover .icon-hover {
	color: #59cb59;
}













